body {
  font-family: Arial, sans-serif;
  background-color: #333333; 
  color: #ffffff; 
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
  position: relative;
  min-height: 100vh;
}

h1, h2 {
  color: #ffffff; 
}

/* Header styles */
header {
  background-color: #CC0000;
  padding: 10px;
  color: white;
  text-align: center;
}

/* Form styles */
form {
  margin-bottom: 20px;
}

p {
  text-align: center;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px);
  margin-bottom: 10px;
  background-color: #ffffff; 
  color: #333333; /* Dark text color for inputs */
}

button {
  padding: 10px 15px;
  background-color: #CC0000;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  background-color: #a30000;
}

/* Employee List styles */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #444444;
  color: #ffffff;
}

li a {
  text-decoration: none;
  color: #CC0000;
}

li a:hover {
  text-decoration: underline;
}

/* Employee Detail styles */
.employee-detail {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #444444;
  color: #ffffff;
}

.employee-detail p {
  margin: 10px 0;
}

/* Footer styles */
footer {
  background-color: #555555;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Logo styles */
.logo {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: auto;
}

/* Login buttons styles */
.login-buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.login-buttons a {
  text-decoration: none; 
}

.login-buttons a button {
  padding: 10px 20px;
  background-color: #CC0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block; 
}

.login-buttons a button:hover {
  background-color: #a30000;
}
